*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: helveticaneuecyr-medium;
  src: url(../fonts/helveticaneuecyr-medium.ttf);
}
@font-face {
  font-family: helveticaneuecyr-roman;
  src: url(../fonts/helveticaneuecyr-roman.otf);
}
.container {
    position: relative;
    width: 100%;
    padding: 0 15px;
    z-index: 1;
    margin: auto;
}
@media screen and (min-width: 1301px) {
  .container {
    width: 1300px;
  }
}
header, footer{
	max-width: 1300px;
	margin: 0 auto;
  font-size: 16px;
  font-family: helveticaneuecyr-roman;
}
header{
  border-bottom: 4px dashed #4A4A4A;
}
footer{
  border-top: 4px dashed #4A4A4A;
}
footer a, header a{
  color: #4A4A4A;
}
footer li, header li{
	display: inline-block;
	margin: 1.25rem 1rem;
	text-align: center;
}
.social li a i{
	font-size: 1.5rem;
}
.shopping li{
  cursor: pointer;
  position: relative;
}
.shopping li i{
	margin: 0 .5rem 0 0;
}
.shopping li span{
  font-family: helveticaneuecyr-medium;
}
.header, .footer {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
}
.number {
  padding: 3px 6px 4px 6px;
  background: #999faf;
  position: absolute;
  border-radius: 50px;
  font: 900 12px Lato;
  color: #FFF;
  top: -15px;
  right: -30px;
  border: 3px solid #FFF;
}
.articles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.article{
  border: 1px solid #e2e2e2;
  width: 20%;
  min-width: 20%;
  padding: 0 16px;
  margin-bottom: 15px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: calc( ( 100% - 90px) / 4  );
  height: 405px;
  /* align-items: center; */
  position: relative;
  transition: .6s;
}
@media screen and (max-width: 1262px) {
  .article {
    width: calc( ( 100% - 60px) / 3  );
  }
}
@media screen and (max-width: 948px) {
  .article {
    width: calc( ( 100% - 30px) / 2  );
  }
}
@media screen and (max-width: 649px) {
  .article {
    width: 100%;
  }
}
.article:hover{
  box-shadow: 0 0 3px rgba(122,122,122,0.5);
}

.image img{
  position: absolute;
  top: 10%;
  left: 2%;
  width: 92%;
  height: 92%;
  max-height: 220px;
  /* max-width: 215px; */
  object-fit: contain;
}
.image{
  padding-bottom: 83%;
  text-align: center;
  position: relative;
}
.category{
  font-size: 16px;
  font-family: helveticaneuecyr-roman;
  text-transform: uppercase;
  color: #aeaeae;
  margin-bottom: 15px;
  position: absolute;
  bottom: 110px;
}
.article-name{
  font-size: 16px;
  font-family: helveticaneuecyr-roman;
  text-decoration: underline;
  color: #2175cc;
  position: absolute;
  top: 290px;
}
.price{
  position: absolute;
  bottom: 20px;
  left: 18px;
}
.new-price{
  font-size: 18px;
  color: #272727;
  font-family: helveticaneuecyr-medium;
}
.to-basket{
  position: absolute;
  bottom: 30px;
  right: 18px;
}
.to-basket a{
  padding: 15px 40px;
  background-color: #ffd304;
  font-size: 15px;
  font-family: helveticaneuecyr-medium;
  text-decoration: none;
  color: #000;
}
.to-basket a:hover, .to-basket a:active{
  text-decoration: none;
  color: #000;
}




/* modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal .container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.5em;
}
.modal .section-header {
    font-weight: normal;
    color: #333;
    text-align: center;
    font-size: 2.5em;
}

 .modal-content {
    position: relative;
    background-color: #E1BEE7;
    margin: auto;
    padding: 20px 0;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
} */


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-remove-all {
    display: block;
    margin: auto;
    font-size: 1.75em;
}
/* End of modal */
